/.idea/
/DAEPracticas/.idea/
/Diseño en Visual Paradigm/Proyecto DAE.vpp.bak_????
/DAEPracticas/target/
/DAEPracticas/target/*
/DAEPracticas/target/classes/
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/aplicacion/
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/entidades/
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/excepciones/
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/repositorios/
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/rest/
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/servicios/
/DAEPracticas/target/generated-sources/
/DAEPracticas/target/maven-status/
/DAEPracticas/target/test-classes/
/DAEPracticas/target/test-classes/Entidades/*
/DAEPracticas/target/test-classes/entidades/*
/DAEPracticas/DAEPracticas.iml
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/res/ControladorRES.class
/DAEPracticas/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/DAEPracticas/target/surefire-reports/entidades.HotelTest.txt
/DAEPracticas/target/test-classes/servicios/GestorHotelesTest.class
/DAEPracticas/target/test-classes/entidades/HotelTest.class
/DAEPracticas/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/DAEPracticas/target/surefire-reports/servicios.GestorHotelesTest.txt
/DAEPracticas/target/surefire-reports/TEST-entidades.HotelTest.xml
/DAEPracticas/target/surefire-reports/TEST-servicios.GestorHotelesTest.xml
/DAEPracticas/target/classes/*
/DAEPracticas/target/test-classes/*
/DAEPracticas/target/maven-status/maven-compiler-plugin/compile/default-compile/*
/DAEPracticas/target/classes/es/ujaen/dae/ujahotel/utils/
/DAEPracticas/target/maven-status/maven-compiler-plugin/compile/default-compile/

